*{
  box-sizing: border-box;
 
}

body{
  margin: 0px;
}
.main{
  /* width: 100vw;
  height: 100vh; */
  background-color: hsl(212, 45%, 89%);
 
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.main .qr-code-wrapper{
 
  background-color: hsl(0, 0%, 100%);
  max-width: 270px;
  padding: 16px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.qr-code-wrapper img{
  max-width: 100%;
  border-radius: 10px;
}
p{
  font-size:15px;
  text-align: center;
}
.title {
  font-size: 15px;
  text-align: center;
  font-weight:700;
  font-family: 'Outfit', sans-serif;
  color: hsl(218, 44%, 22%);
  padding: 0px 8px 0px 8px;
}
.description{
  text-align: center;
  font-weight: 400;
  font-size: 0.75rem;
  font-family: 'Outfit', sans-serif;
  /* opacity: 50%; */
  color: hsl(220, 15%, 55%);
  padding: 0px 8px 0px 8px;
}